// fonts
$font-main:'Joystix';
$font-title:'ArcadeClassic';
$font-path: '../fonts';

@font-face {
  font-family: 'Arcade';
  src: url('#{$font-path}/Arcade.ttf');
}

@font-face {
    font-family: 'ArcadeClassic';
  src: url('#{$font-path}/arcadeclassic.ttf');
}

@font-face {
   font-family: 'Joystix';
  src: url('#{$font-path}/joystix.ttf');
 
}


// colors
$white-color: #f3f4f5;
$primary-color: rgb(6, 161, 16);
$secondary-color: rgb(153, 6, 6);
$third-color: rgb(172, 250, 54);
$grey-color: #9999;
$button-color: #0b4e11;
$buttonHover-color: rgb(128, 196, 26);;
$black-color: rgb(0, 0, 0);
