<aside>
  <button class="btn__pop-up">Instructions</button>
  <div class="pop-up">
    <div class="btn__pop-up__close">x</div>
    <h2>Instructions</h2>
    <ol>
      <li>Click PLAY</li>
      <li>
        Use the arrows <span>↑</span><span>←</span><span>↓</span
        ><span>→</span> on your computer to move the snake around the screen.
      </li>
      <li>Eat the apples to earn points.</li>
      <li>Avoid hitting the walls or yourself.</li>
      <li>Click reset if you want to stop the game and start again.</li>
    </ol>
  </div>
</aside>
