@mixin button {
  background: linear-gradient(
    to bottom,
    $button-color 35%,
    $buttonHover-color 100%
  );
  box-shadow: inset 0px 1px 3px 0px $button-color;
  color: $white-color;
  padding: 0.4rem 1.2rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
  cursor: pointer;
  font-size: larger;
  margin-right: 1rem;

  &:hover {
    background: linear-gradient(
      to bottom,
      $buttonHover-color 10%,
      $button-color 100%
    );
  }
}

@mixin snake__head {
  border-radius: 30%;
  box-shadow: inset 0px 1px 3px 0px $button-color;
  background: linear-gradient(
    to bottom,
    $third-color 5%,
    $primary-color 40%,
    $button-color 100%
  );
}

@mixin snake__head-before {
  content: '';
  background: linear-gradient(to right, $black-color 5%, $secondary-color 100%);
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border-color: $secondary-color;
}
