// fonts
$font-main: "Roboto", sans-serif;

// colors
$white-color: #f3f4f5;
$primary-color: rgb(12, 12, 90);
$secondary-color: #999;
$button-color: #099d8d;
$buttonHover-color: #0a312d;
$black-color: rgb(0, 0, 0);
