.page {
  &__header {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    align-items: center;
  }
  &__title {
    font-size: 2.5rem;
    width: fit-content;
    font-family: $font-title;
    color: $black-color;
    text-transform: uppercase;
    position: relative;
    left: -2rem;
  }

  .snake-pic {
    width: 10rem;
  }
  
}