.page__main {
  margin-bottom: 1rem;
  width: 20rem;
  margin: 0 auto;

  h2,
  .score {
    text-align: left;
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  width: 19.96rem;
  height: 20rem;
  border: 0.1px solid $black-color;
  margin: 0 auto;

  .square {
    width: 1.98rem;
    height: 2rem;
  }

  .snake {
    background-color: $primary-color;
  }

  .apple {
    background-color: $secondary-color;
  }

  .game-over {
    background-color: $secondary-color;
  }
}
