.page__main {
  margin-bottom: 1rem;
  width: 20rem;
  margin: 0 auto;

  h2, .score {
text-align: left;
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  width: 20rem;
  height: 20rem;
  border: 1px solid $black-color;
  margin: 0 auto;

  .square {
    width: 2rem;
    height: 2rem;
    background-color: $primary-color;
  }
}
