.page__main {
  margin-bottom: 1rem;
  width: 20rem;
  margin: 0 auto;

  h2,
  .score {
    text-align: left;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
  }
}

.btn {
  @include button;
  margin-right: 1rem;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  width: 20rem;
  height: 20rem;
  margin: 0 auto;
  background-color: $black-color;

  .square {
    width: 2rem;
    height: 2rem;
    border: 0.1px solid $primary-color;
  }

  .snake {
    // border: 0.1px solid $white-color;
    background-color: $third-color;
    border-radius: 50%;

    &::before {
      content: '';
      display: inline-block;
      border: 0.1px solid $white-color;
      background-color: $primary-color;
      border-radius: 50%;
      width: 18px;
      height: 18px;
      margin: 5px;
    }
  }

  .snake__head {
    background-color: $primary-color;

    &::before {
      content: '';
      background-color: $secondary-color;
      display: inline-block;
      margin-left: 18px;
      margin-top: 6px;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      border-color: $secondary-color;
    }
  }

  .snake__head-down {
    background-color: $primary-color;

    &::before {
      content: '';
      background-color: $secondary-color;
      display: inline-block;
      margin-left: 12px;
      margin-top: 18px;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      border-color: $secondary-color;
    }
  }

  .snake__head-left {
    background-color: $primary-color;

    &::before {
      content: '';
      background-color: $secondary-color;
      display: inline-block;
      margin-right: 18px;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      border-color: $secondary-color;
    }
  }

  .apple {
    background-image: url('../images/apple.png');
    background-position: cover;
    background-repeat: no-repeat;
  }

  .game-over {
    background-color: $secondary-color;
    border-color: $secondary-color;

    &::before {
      background-color: $secondary-color;
    }
  }
}
