.btn__pop-up {
  padding: 0.4rem 0.5rem;
  cursor: pointer;
  border: 4px solid $primary-color;
  background-color: $grey-color;
  position: absolute;
  top: -4px;
  left: 339px;
  font-family: $font-main;
  font-size: smaller;

  @media all and (min-width: $md) {
    top: 13px;
    left: 463px;
    font-size: larger;
    padding: 0.4rem 0.7rem;
  }
}
.btn__pop-up__close {
  cursor: pointer;
  text-align: right;
  font-size: 1rem;
}

.pop-up {
  display: none;
  border: 3px solid $grey-color;
  background-color: $third-color;
  position: absolute;
  top: 11px;
  left: 266px;
  z-index: 5;
  max-width: 456px;
  padding: 0.7rem;

   @media all and (min-width: $md) {
left: 363px;
  }

  h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 1rem;
  }
  ol {
    text-align: left;
    padding-inline-start: 2rem;
    margin: 0;
    margin-block-start: 0px;
  }
  li {
    padding: 0.2rem;
  }
}
